.uk-navbar {
    border-radius: 0;
}

.uk-navbar-brand {
    padding: 2px 35px 0;
}

.uk-navbar-brand::before {
    content: none;
}

.uk-search-field {
    background: #FFF;
    width: 200px;
}

/* Focus + Active */
.uk-search-field:focus,
.uk-search.uk-active .uk-search-field {
    width: 280px;
}

.uk-button-primary {
    background-color: #FF3D00;
}

.uk-button-primary:hover {
    background-color: #DD2C00;
}

.uk-button-dark {
    background-color: #333;
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0,0,0,.1);
}

.uk-nav-side > li.uk-active > a {
    background-color: #FF3D00;
}

.uk-nav-side > li.uk-active:hover > a {
    background-color: #DD2C00;
}

.uk-link, a {
    color: #FF3D00;
}

.uk-link:hover, a:hover {
    color: #DD2C00;
}

.uk-placeholder-large {
    padding-top: 30px;
    padding-bottom: 30px;
}

#upload-rules {
    margin-top: 0px;
}

#main-navbar-content {
    padding-left: 5px;
}

html {
    background: #EEE url('../images/background.png') repeat;
}

body {
}

.uploaded-content-list .uk-overlay-panel {
    padding: 9px;
}

.uploaded-content-list .uk-overlay-panel {
    background: rgba(51, 51, 51, 0.4);
}

.uploaded-content-list .uk-overlay-panel > h3 {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
}

.uploaded-content-list .uk-overlay-panel > p {
    font-size: 12px;
    line-height: 13px;
    margin: 0;
    padding: 0;
}

.search-result {

}

.search-result figure.uk-overlay {
    float: left;
    margin-right: 10px;
}

.search-result figure.uk-overlay img {
    height: 100px;
    max-height: 100px;
}

.uk-panel-box {
    border-radius: 0;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.03);
}

.uk-panel-box .uk-panel-title p {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 2px;
}

.music-box {
    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);

    color: #ececec;
}

.music-box .uk-panel-title p {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #ececec;
    text-shadow: 1px 1px 1px rgba(0,0,0, .5);
}

.music-box .uk-panel-title p .tuneIn {
    padding-top: 2px;
    padding-bottom: 2px;
}

figcaption[data-music] {
    cursor: pointer;
}

/**
 * Artist Pages Design
 */
