.uk-search-field {
    background: #FFF;
    width: 200px;
}

/* Focus + Active */
.uk-search-field:focus,
.uk-search.uk-active .uk-search-field {
    width: 280px;
}

.uk-button-primary {
    background-color: #FF3D00;
}

.uk-button-primary:hover {
    background-color: #DD2C00;
}

.uk-button-dark {
    background-color: #333;
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0,0,0,.1);
}

.uk-nav-side > li.uk-active > a {
    background-color: #FF3D00;
}

.uk-nav-side > li.uk-active:hover > a {
    background-color: #DD2C00;
}

.uk-link, a {
    color: #FF3D00;
}

.uk-link:hover, a:hover {
    color: #DD2C00;
}

#main-navbar-content {
    padding-left: 5px;
}

html {
    background: #EEE url('../images/background.png') repeat;
}

body {
}

.uploaded-content-list .uk-overlay-panel {
    padding: 9px;
}

.uploaded-content-list .uk-overlay-panel {
    background: rgba(51, 51, 51, 0.4);
}

.uploaded-content-list .uk-overlay-panel > h3 {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
}

.uploaded-content-list .uk-overlay-panel > p {
    font-size: 12px;
    line-height: 13px;
    margin: 0;
    padding: 0;
}